/* #region Clear Styles */

:root {
--black: #292929;
--accet-green: #00b068;
--white: #f0f0f0;
--light-grey: #e4e5e6;
--light-accet: #bcdfd1;
--hover-green: #009156;
--red: #e74a3b;
--hover-grey: #bbbbbb;

}

html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

body {
 
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

button {
    all: unset;
    cursor: pointer;
    color: currentColor;
}

input,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}


.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* #endregion */
/* #region Container */
.container {
    max-width: 352px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1248px;
    }
}

/* #endregion */
/* #region Visually Hidden */
/* Тимчасово приховувати елементи */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion */