.tech-skills-marquee {
  display: flex;
  padding: 32px 0;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: light-dark(var(--black), var(--white));
  background-color: light-dark(var(--light-accet), var(--dark-accet-dt));
  position: relative;
}

.marquee-second {
  color: light-dark(var(--accet-green), var(--accet-green-dt));
  background-color: light-dark(var(--light-grey), var(--charcoal-dt));
  transform: rotate(2deg);
  z-index: -1;
}

.tech-skills-line {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 24px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 18s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.line-second {
  animation-name: secondMarqueeLine;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: light-dark(var(--accet-green), var(--accet-green-dt));
  border-radius: 2px;
  display: inline-block;
}

.dot-second {
  background-color: light-dark(var(--black), var(--white));
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes secondMarqueeLine {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .tech-skills-marquee {
    padding: 40px 0;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
  }
}
@media screen and (min-width: 1280px) {
  .tech-skills-marquee {
    padding: 40px 0;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
  }
}
