<header class="header hdr">
  <div class="container header-container">
    <div class="menu-container">
      <a href="index.html" class="header-logo"
        >LLOYD<span class="header-logo-span">JEFFERSON.</span></a
      >
      <!-- Style-Toggle-Button-Theme -->
      <div class="toggle-main">
        <input type="checkbox" id="toggle-main" />
        <label for="toggle-main"> </label>
      </div>
      <!-- Burger-Menu -->
      <div class="burger js-menu js-menu-close" data-menu-button>
        <span class="burger-icon"></span>
      </div>
      <div class="nav-container">
        <nav class="navigation">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#about" class="nav-link">About me</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Projects</a>
            </li>
            <li class="nav-item">
              <a href="#work-together" class="nav-link">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- To-Top -->
<button
  class="top js-transparent scroll-to-top"
  type="button"
  aria-label="Back to top"
>
  <svg
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M12 19V5M5 12l7-7 7 7"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</button>
