<section class="section-hero hero">
  <div class="container hero-wrap">
    <div class="hero-intro">
      <div class="hero-text">
        <h1 class="hero-heading">Hello, I am</h1>
        <p class="hero-anim">
          <span class="hero-hi"></span>
          <span class="hero-label"></span>
        </p>
      </div>
      <a class="hero-cta" href="#work-together">
        <svg class="hero-arrow" width="45" height="16">
          <use href="/img/sprite.svg#icon-arrow-hero"></use>
        </svg>
        <span class="hero-cta-text">Order the project</span>
      </a>
    </div>
    <div class="hero-content">
      <picture>
        <source
          srcset="
            /img/02-hero/dev-hero.webp    1x,
            /img/02-hero/dev-hero@2x.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="/img/02-hero/dev-hero.webp"
          alt="Frontend Developer"
          width="592"
          height="444"
          class="hero-pic"
        />
      </picture>
      <p class="hero-desc">
        I work with people all over the world to create
        <span class="hero-span">impressive</span> and
        <span class="hero-span">functional websites</span>
        that reflect each client’s unique personality.
      </p>
    </div>
  </div>
  <ul class="hero-social">
    <li class="hero-social-item">
      <a
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit my Instagram"
        >Instagram</a
      >
    </li>
    <li class="hero-social-item">
      <a
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit my Facebook"
        >Facebook</a
      >
    </li>
    <li class="hero-social-item">
      <a
        href="https://www.linkedin.com/school/goit-start-your-career-in-it"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit my LinkedIn"
        >LinkedIn</a
      >
    </li>
    <li class="hero-social-item">
      <a
        href="https://github.com/Mrmantikor"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit my GitHub"
        >GitHub</a
      >
    </li>
  </ul>
</section>
