<section id="about" class="about">
    <div class="container about-container">
        <h2 class="about-h2">ABOUT <span class="about-h2-me">ME</span></h2>
        <div class="about-content">
            <div class="about-image">
                <picture>
                    <source srcset="../img/03-aboutme/img-desktop1x.png 1x, ../img/03-aboutme/img-desktop2x.png 2x"
                        media="(min-width: 1440px)" />
                    <source srcset="../img/03-aboutme/img-tablet1x.png 1x, ../img/03-aboutme/img-tablet2x.png 2x"
                        media="(min-width: 768px)" />
                    <img class="about-img" loading="lazy" srcset="../img/03-aboutme/img-mob2x.png 1x"
                        src="../img/03-aboutme/img-mob1x.png" alt="Me" />
                </picture>
            </div>
            <div class="about-bio-text">
                <h3 class="about-title">BIO</h3>
                <p class="about-p">
                    I'm Lloyd Jefferson, a talented programmer specializing in software development. My expertise spans
                    various programming languages and technologies, and I am dedicated to continually enhancing my
                    skills. I thrive on seeking unconventional and creative solutions to problems, leveraging a high
                    level of analytical skills to effectively tackle even the most challenging tasks.
                </p>
                <p class="about-p">
                    Able to work both independently and in a team. I can effectively cooperate with colleagues,
                    exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly cope with
                    challenges and stressful situations, while maintaining a high quality of work. I am always looking
                    for opportunities for self-improvement. I actively study new technologies and practices to stay
                    abreast of the latest innovations. I have a strong understanding of various programming languages,
                    frameworks and architectural concepts that allow me to create efficient and scalable software.
                </p>
            </div>
            <div class="about-text">
                <div class="about-education">
                    <h3 class="about-title">EDUCATION</h3>
                    <ul class="about-list">
                        <li class="about-text">2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</li>
                        <li class="about-text">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New
                            York</li>
                        <li class="about-text">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
                    </ul>
                </div>
                <div class="about-role">
                    <h3 class="about-title">ROLE</h3>
                    <ul class="about-list">
                        <li class="about-text">Frontend development</li>
                        <li class="about-text">HeadlessCMS, Wordpress</li>
                        <li class="about-text">Blender (enjoy)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>