<section class="section tech-skills">
  <h2 class="tech-skills-title visually-hidden">Tech skills</h2>

  <!---- First line ---->
  <div class="tech-skills-marquee marquee-first">
    <p class="tech-skills-line">
      <span class="dot"></span>
      <span>HTML/CSS</span>
      <span class="dot"></span>
      <span>JavaScript</span>
      <span class="dot"></span>
      <span>React</span>
      <span class="dot"></span>
      <span>Node.js</span>
      <span class="dot"></span>
      <span>React Native</span>
      <span class="dot"></span>
      <span>TypeScript</span>
      <span class="dot"></span>
      <span>HTML/CSS</span>
      <span class="dot"></span>
      <span>JavaScript</span>
      <span class="dot"></span>
      <span>React</span>
      <span class="dot"></span>
      <span>Node.js</span>
      <span class="dot"></span>
      <span>React Native</span>
      <span class="dot"></span>
      <span>TypeScript&nbsp;</span>
    </p>
    <p class="tech-skills-line">
      <span class="dot"></span>
      <span>HTML/CSS</span>
      <span class="dot"></span>
      <span>JavaScript</span>
      <span class="dot"></span>
      <span>React</span>
      <span class="dot"></span>
      <span>Node.js</span>
      <span class="dot"></span>
      <span>React Native</span>
      <span class="dot"></span>
      <span>TypeScript</span>
      <span class="dot"></span>
      <span>HTML/CSS</span>
      <span class="dot"></span>
      <span>JavaScript</span>
      <span class="dot"></span>
      <span>React</span>
      <span class="dot"></span>
      <span>Node.js</span>
      <span class="dot"></span>
      <span>React Native</span>
      <span class="dot"></span>
      <span>TypeScript&nbsp;</span>
    </p>
  </div>

  <!---- Second line --->
  <div class="tech-skills-marquee marquee-second">
    <p class="tech-skills-line line-second">
      <span class="dot dot-second"></span>
      <span>HTML/CSS</span>
      <span class="dot dot-second"></span>
      <span>JavaScript</span>
      <span class="dot dot-second"></span>
      <span>React</span>
      <span class="dot dot-second"></span>
      <span>Node.js</span>
      <span class="dot dot-second"></span>
      <span>React Native</span>
      <span class="dot dot-second"></span>
      <span>TypeScript</span>
      <span class="dot dot-second"></span>
      <span>HTML/CSS</span>
      <span class="dot dot-second"></span>
      <span>JavaScript</span>
      <span class="dot dot-second"></span>
      <span>React</span>
      <span class="dot dot-second"></span>
      <span>Node.js</span>
      <span class="dot dot-second"></span>
      <span>React Native</span>
      <span class="dot dot-second"></span>
      <span>TypeScript&nbsp;</span>
    </p>
    <p class="tech-skills-line line-second">
      <span class="dot dot-second"></span>
      <span>HTML/CSS</span>
      <span class="dot dot-second"></span>
      <span>JavaScript</span>
      <span class="dot dot-second"></span>
      <span>React</span>
      <span class="dot dot-second"></span>
      <span>Node.js</span>
      <span class="dot dot-second"></span>
      <span>React Native</span>
      <span class="dot dot-second"></span>
      <span>TypeScript</span>
      <span class="dot dot-second"></span>
      <span>HTML/CSS</span>
      <span class="dot dot-second"></span>
      <span>JavaScript</span>
      <span class="dot dot-second"></span>
      <span>React</span>
      <span class="dot dot-second"></span>
      <span>Node.js</span>
      <span class="dot dot-second"></span>
      <span>React Native</span>
      <span class="dot dot-second"></span>
      <span>TypeScript&nbsp;</span>
    </p>
  </div>
</section>
