<section class="fag">
    <div class="container">
        <h2 class="fag-title">frequently asked <span class="title-green-word">question</span></h2>
        <ul class="fag-list">
            <li class="fag-list-item">
                <p class="fag-list-title">What programming languages ​​are most often used in your project?</p>
                <p class="fag-list-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            </li>
            <li class="fag-list-item">
                <p class="fag-list-title">What are the deadlines for the project?</p>
                <p class="fag-list-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
            </li>
            <li class="fag-list-item">
                <p class="fag-list-title">What payment methods do you accept?</p>
                <p class="fag-list-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
            </li>
            <li class="fag-list-item">
                <p class="fag-list-title">How can I contact you?</p>
                <p class="fag-list-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            </li>
            <li class="fag-list-item">
                <p class="fag-list-title">Do you provide advice or support?</p>
                <p class="fag-list-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
            </li>
            <li class="fag-list-item">
                <p class="fag-list-title">What does the process of developing a software product look like from idea to implementation?</p>
                <p class="fag-list-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
            </li>
        </ul>
    </div>
</section>