<section class="reviews section">
    <div class="container">
        <h2 class="reviews-title">reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-item">
                <p class="reviews-item-text">Work with was extraordinary! He turned out to be a very competent and
                    responsible specialist. The projects were
                    completed on time and the result exceeded my expectations</p>
                <div class="reviews-item-content">
                    <img class="reviews-item-content-img" src="../img/reviews/natalia_shevchenko.png"
                        alt="Natalia Shevchenko" width="40" height="40">
                    <p class="reviews-item-content-name">Natalia Shevchenko</p>
                </div>
            </li>
            <li class="reviews-item second">
                <p class="reviews-item-text">I have the honor to recommend him as an exceptional professional in his
                    field. His knowledge and expertise are
                    undeniable. Cooperation with him alwayss brings impressive results.</p>
                <div class="reviews-item-content">
                    <img class="reviews-item-content-img" src="../img/reviews/dmytro_nazarenko.png"
                        alt="Dmytro Nazarenko" width="40" height="40">
                    <p class="reviews-item-content-name">Dmytro Nazarenko</p>
                </div>
            </li>
        </ul>
        <div class="reviews-btn-wrapp">
            <button class="reviews-btn-wrapp-left" disabled>
                <svg class="reviews-btn-wrapp-left-svg" width="24" height="24">
                    <use href="../img/reviews/icons.svg#icon-arrow-right"></use>
                </svg>
            </button>
            <button class="reviews-btn-wrapp-right">
                <svg class="reviews-btn-wrapp-right-svg" width="24" height="24">
                    <use href="../img/reviews/icons.svg#icon-arrow-right"></use>
                </svg>
            </button>
        </div>

    </div>
</section>