<section class="section">
    <div class="swiper container">
        <h2 class="reviews-title">REVIEWS</h2>
        <ul class="swiper-wrapper"></ul>
        <div class="swiper-pagination"></div>
        <ul class="reviews-btns-wrapp">
            <li>
                <button class="reviews-btn-left">
                    <svg class="icon-svg js-btn-left" width="24" height="24">
                        <use href="/img/sprite.svg#icon-arrow-narrow-right"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button class="reviews-btn-right">
                    <svg class="icon-svg js-btn-right" width="24" height="24">
                        <use href="/img/sprite.svg#icon-arrow-narrow-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>
