<section
  class="work-together lazy-bg"
  id="work-together"
  data-bg="url('/img/decor_bg_work_together.png')"
>
  <div class="container">
    <h2 class="work-together-title">
      <span class="work-together-h2-accent">let’s</span> work together
    </h2>
    <div class="work-together-wrapper">
      <div class="work-together-contact-inner">
        <p class="work-together-content">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <ul class="work-together-contact-list">
          <li class="work-together-contact-item">
            <a href="tel:+380904567890" class="work-together-contact-link"
              ><svg class="work-together-icon">
                <use xlink:href="/img/sprite.svg#icon-phone"></use>
              </svg>
              +38 090 456 78 90</a
            >
          </li>
          <li class="work-together-contact-item">
            <a
              href="mailto:lloydjefferson@gmail.com"
              class="work-together-contact-link"
            >
              <svg class="work-together-icon">
                <use xlink:href="/img/sprite.svg#icon-envelope"></use>
              </svg>
              lloydjefferson@gmail.com</a
            >
          </li>
          <li class="work-together-contact-item">
            <a href="#" class="work-together-contact-link" id="show-map-btn">
              <svg class="work-together-icon">
                <use xlink:href="/img/sprite.svg#icon-geo"></use>
              </svg>
              USA, New York</a
            >
          </li>
        </ul>
        <div class="work-together-location-mobile" id="map-mobile"></div>
      </div>

      <form
        action="#"
        class="work-together-form"
        name="work-together-form"
        id="work-together-form"
      >
        <div class="work-together-input-wrapper">
          <input
            type="text"
            type="email"
            name="email"
            id="work-together-email"
            placeholder="Your email*"
            class="work-together-input"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            required
          />
        </div>
        <textarea
          name="message"
          id="work-together-message"
          class="work-together-textarea"
          placeholder="Message"
          required
        ></textarea
        ><button
          type="submit"
          class="work-together-button"
          name="button"
          id="work-together-submit"
        >
          SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
  <div class="work-together-location-desctop" id="map-desktop"></div>
</section>
