<div class="work-together-modal visually-hidden" id="work-together-modal-window">
  <div class="work-together-modal-inner">
    <button class="modal-close-btn" type="button" id="close-modal-button">
      <svg class="work-together-modal-icon">
        <use xlink:href="../../img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <p class="modal-title">Thank you for your interest in cooperation!</p>
    <p class="modal-message">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>